*{
    font-family: 'Courier New', Courier, monospace;
}

.body {   
    margin: 0;
    background: #1b2a1d url(https://plantsvszombies.wiki.gg/images/0/0c/Site-background-April.png) repeat 0 0;
}


.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    width: 100%;
    background-color: #644132;
    border-bottom:solid #644132 px ;
}

.header .navbar{
    display: flex;
     color: #C1B3AD;
    list-style-type: none;
    border: 0px solid;
    border-radius: 100px;
   /*/ box-shadow: 2px 4px 4px 4px #4B3126; */
    margin-right: 15px;

    border: 0px solid ;
    border-radius: 100px;

    
    justify-content: space-evenly;
    align-items: center;
    width: 80%;


}

.login .container {
    display: flex;
    background-color:#644132 ;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}
.sobre_o_site{
    display: flex;
    position: relative;
    height: 400px;
    width: 300px;
    background-color:beige;
}
.cadastro .container{
    display: flex;
    background-color:#644132 ;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

.sobre_mim{
    display: flex;
    justify-self: center;
    text-align: center;
    background-color:#a18477 ;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 300px;
}


.sobre_jogo{
    display: flex;
        justify-self: center;
    text-align: center;
    background-color:#a18477 ;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 300px;
}
.sobre_site{
    display: flex;
        justify-self: center;
    text-align: center;
    background-color:#a18477 ;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 300px;
}