* {
    font-family: 'Courier New', Courier, monospace;
}

/* estilizando o body */
.body {
     margin: 0;
    min-height: 100vh;
    background-image: url(../imagens/Site-background-April.webp);
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {

    width: 850px;
    height: 274px;
    border-radius: 5px;
    margin: 10px;
    justify-self: center;
}

.button {
    margin-top: 10px;
}

h2 {
    color: white;
}

span {
    font-weight: 700;
    font-size: 18px;
    color: white;
}

/* editando o quiz */

/* editando o login */
p {
    font-size: 18px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.campo .span {
    text-align: left;
}

.input {
    display: flex;
    border: solid 3px;
    color: darkgreen;
    border-radius: 10px;
    height: 40px;
    width: 300px;

}

.botao {
    display: flex;
    background-color: darkgreen;
    border-radius: 20px;
    color: white;
}

/* Adicionando um fundo sobre a imagem */
.fundo_retangular {
    background-color: #0d1c18;
    color: white;
    height: auto;
    width: 1100px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 0 20px black;
    border-radius: 50px;
}

/* definindo padrões para o container */
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/* Estilizando o Título da página */
.bem_vindo {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

/* adicionando navbar */
.header .container {
    width: 100%;
    background-color: darkgreen;
    border-bottom: solid white px 2;
    justify-content: flex-end;
    border-radius: 100px;
    list-style-type: none;
}

.header .navbar {
    gap: 15px;
    display: flex;
    color: black;
    list-style-type: none;
    border: 0px solid;
    margin-right: 15px;

    border: 0 px solid;
    border-radius: 100px;


    justify-content: space-evenly;
    align-items: center;
    width: 80%;


}

/* Aba sobre o site */
.sobre_site {

    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 700px;
    height: 280px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
}

.sobre_site .container .box {
    color: white;
}

/* Aba sobre o jogo */
.sobre_jogo {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 700px;
    height: 300px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
}

.sobre_jogo .container .box {
    color: white;
}

/* Aba Sobre mim */
.sobre_mim {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 700px;
    height: 300px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
}

.sobre_mim .container .box {
    color: white;
}

/*Tela de Cadastro*/
.cadastro .container {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 500px;
    height: 510px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
}

.cadastro .container .box {
    color: white;

}

/* Tela de Login */

.card-login {
    height: 474px;
    width: 305px;
}



.login .container {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 500px;
    height: 300px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
}

.login .container .box {
    color: white;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}


/* Editando a aba Turorial */
.tutorial .container {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 700px;
    height: 450px;
    padding: 20px;
    border-radius: 50px;
}

.tutorial .container .box {
    color: white;
}
.tutorial2 .container {
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    background-color: #538335;
    border: solid 6px;
    color: #115e1f;
    box-shadow: 0px 0px 20px 0px black;
    box-shadow: inset 0px 0px 10px black;

    width: 700px;
    height: 800px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
}

.tutorial2 .container .box {
    color: white;
}

.titulo{
    display: flex; 
    justify-content: center;
    margin: 20px;
    font-size: 22px
}

.gelervilha{
    display: flex; 
    width: 100px;;
    height: 100px;
    position: relative;
    top: 450px;
    left: 320px;
}

.fofinho{
    display: flex; 
    width: 75px;
    height: 120px;
    position: relative;
    bottom: 300px;
    left: 220px;
}

.balao{
    display: flex; 
    width: 100px;;
    height: 180px;
    position: relative;
    left: 800px;

}   

.mordendo{
    display: flex; 
    width: 200px;;
    height: 200px;
    position: relative;
    left: 450px;

}
